
.monster1{
width:120%;
height:120%;

}


.a1:hover{
-webkit-transform: translateY(-2px);

}
.a2:hover{
-webkit-transform: translateY(-2px);

}
.a3:hover{
-webkit-transform: translateY(-2px);

}
.a4:hover{
-webkit-transform: translateY(-2px);

}
.a5:hover{
-webkit-transform: translateY(-2px);

}
.a6:hover{
-webkit-transform: translateY(-2px);

}
.a7:hover{
-webkit-transform: translateY(-2px);

}
.a8:hover{
-webkit-transform: translateY(-2px);

}
.a9:hover{
-webkit-transform: translateY(-2px);

}
.a10:hover{
-webkit-transform: translateY(-2px);

}
.a11:hover{
-webkit-transform: translateY(-2px);

}
.a12:hover{
-webkit-transform: translateY(-2px);

}
.a13:hover{
-webkit-transform: translateY(-2px);

}

.a14:hover{
-webkit-transform: translateY(-2px);

}
.a15:hover{
-webkit-transform: translateY(-2px);

}
.a16:hover{
-webkit-transform: translateY(-2px);

}
.a17:hover{
-webkit-transform: translateY(-2px);

}
.a18:hover{
-webkit-transform: translateY(-2px);

}
.a19:hover{
-webkit-transform: translateY(-2px);

}
.a20:hover{
-webkit-transform: translateY(-2px);

}
.a21:hover{
-webkit-transform: translateY(-2px);

}




.b1:hover{
-webkit-transform: translateY(-2px);

}
.b2:hover{
-webkit-transform: translateY(-2px);

}
.b3:hover{
-webkit-transform: translateY(-2px);

}
.b4:hover{
-webkit-transform: translateY(-2px);

}
.b5:hover{
-webkit-transform: translateY(-2px);

}
.b6:hover{
-webkit-transform: translateY(-2px);

}
.b7:hover{
-webkit-transform: translateY(-2px);

}
.b8:hover{
-webkit-transform: translateY(-2px);

}
.b9:hover{
-webkit-transform: translateY(-2px);

}
.b10:hover{
-webkit-transform: translateY(-2px);

}
.b11:hover{
-webkit-transform: translateY(-2px);

}
.b12:hover{
-webkit-transform: translateY(-2px);

}
.b13:hover{
-webkit-transform: translateY(-2px);

}

.b14:hover{
-webkit-transform: translateY(-2px);

}
.b15:hover{
-webkit-transform: translateY(-2px);

}
.b16:hover{
-webkit-transform: translateY(-2px);

}
.b17:hover{
-webkit-transform: translateY(-2px);

}
.b18:hover{
-webkit-transform: translateY(-2px);

}
.b19:hover{
-webkit-transform: translateY(-2px);

}
.b20:hover{
-webkit-transform: translateY(-2px);

}
.b21:hover{
-webkit-transform: translateY(-2px);

}




.c1:hover{
-webkit-transform: translateY(-2px);

}
.c2:hover{
-webkit-transform: translateY(-2px);

}
.c3:hover{
-webkit-transform: translateY(-2px);

}
.c4:hover{
-webkit-transform: translateY(-2px);

}
.c5:hover{
-webkit-transform: translateY(-2px);

}
.c6:hover{
-webkit-transform: translateY(-2px);

}
.c7:hover{
-webkit-transform: translateY(-2px);

}
.c8:hover{
-webkit-transform: translateY(-2px);

}
.c9:hover{
-webkit-transform: translateY(-2px);

}
.c10:hover{
-webkit-transform: translateY(-2px);

}
.c11:hover{
-webkit-transform: translateY(-2px);

}
.c12:hover{
-webkit-transform: translateY(-2px);

}
.c13:hover{
-webkit-transform: translateY(-2px);

}

.c14:hover{
-webkit-transform: translateY(-2px);

}
.c15:hover{
-webkit-transform: translateY(-2px);

}
.c16:hover{
-webkit-transform: translateY(-2px);

}
.c17:hover{
-webkit-transform: translateY(-2px);

}
.c18:hover{
-webkit-transform: translateY(-2px);

}
.c19:hover{
-webkit-transform: translateY(-2px);

}
.c20:hover{
-webkit-transform: translateY(-2px);

}
.c21:hover{
-webkit-transform: translateY(-2px);

}

.hako_button:hover{
-webkit-transform: rotate(50deg);

}

