.item_no_1_name{



background-color: transparent;



}

.item_no_2_name{


background-color:transparent;


}

.item_no_3_name{

background-color:transparent;


}


.item_no_6_name{

background-color:transparent;


}


.item_no_4_name{

background-color:transparent;


}


.item_no_5_name{

background-color:transparent;


}

.equip_moji{

background-color:transparent;


}

.equip_moji_2{

background-color:transparent;


}

.other_moji{

background-color:transparent;


}

.other_moji_2{

background-color:transparent;


}

.battle_moji{

background-color:transparent;


}

.battle_moji_2{

background-color:transparent;


}




.soubi1_button{

opacity:0;


}

.soubi2_button{

background-color:transparent;
opacity:0;


}

.battle_moji_choice{

background-color:transparent;
opacity:0;


}

.equip_moji_choice{

background-color:transparent;
opacity:0;


}


.other_moji_choice{

background-color:transparent;
opacity:0;


}



